<div class="adventures">
	<div class="adventure-title row">
		<div class="col">
			<h3>Adventures</h3>
			<button type="button" class="btn btn-primary btn-sm" (click)="onCreate()">
				Create
			</button>
		</div>
	</div>
	<ng-container *ngIf="true">
		<ng-container *ngFor="let adventure of adventures">
			<div class="adventure bg-light row">
				<div class="col">
					<div>Name: {{adventure.name}}</div>
				</div>
				<div class="col">
					<div>Description: {{adventure.description}}</div>
				</div>
				<div class="col">
					<button class="btn btn-danger btn-sm" (click)="onRemove(adventure.id)">
						Remove
					</button>
					<button class="btn btn-primary btn-sm" (click)="onEdit(adventure)">
						Edit
					</button>
				</div>
			</div>
		</ng-container>
	</ng-container>
	<div class="row">
		<h4>SignalR Messages</h4>
		<input type="text" [(ngModel)]="messageToSend.message" class="col-4 me-2" />
		<button type="button" class="col-2 btn btn-secondary btn-sm" (click)="sendMessage()">
			Send Message
		</button>
		<div class="col-6" >
			<div class="mt-2" *ngIf="!!receivedMessage.message">Received: {{ receivedMessage.user }}: {{ receivedMessage.message }} (id: {{receivedMessage.id}})</div>
		</div>
	</div>
</div>
