<div class="navigation">
	<div class="clearfix row">
		<div class="col-sm-3">
			<div
				ngbNav
				#nav="ngbNav"
				class="nav nav-pills flex-column"
				orientation="vertical"
				[(activeId)]="activeId"
			>
				<div
					class="nav-item"
					*ngFor="let item of items"
					[ngbNavItem]="item.id"
					[ngSwitch]="item.name"
					(click)="onItemClick(item)"
				>
					<a
						ngbNavLink
						class="nav-link navigation-link"
					>
						<fa-icon class="icon" [icon]="item.icon"></fa-icon>
						<span>{{item.name}}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="tab-content" animation="true">
				<div class="fade tab-pane active show">
					<ng-template navItem></ng-template>
				</div>
			</div>
		</div>
	</div>
</div>
