.adventures {
	.create-button {
		color: #fff;
		background-color: #337ab7;
		border-color: #2e6da4;

		:hover {
			background-color: #2e6da4;
		}
	}

	.remove-button {
		color: #fff;
		background-color: #222222;
		border-color: #222222;

		:hover {
			background-color: #000000
		}
	}
}
