.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/node_modules
/dist
/tmp
/out-tsc

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/.sass-cache
/connect.lock
/coverage
/npm-debug.log
/yarn-error.log
/typings

.DS_Store
Thumbs.db
